{
  :tz "Asia/Irkutsk"
  
  :mongodb
  {
    :url "mongodb://localhost:27017/bot"}

  :tg 
  {
    :name "??botname??"
    :apikey "??12312:xxxxyyyyyy??"
    :poll-limit 100
    :poll-timeout 5   ;; seconds
    :poll-error-sleep 3000}
  ;    
  
  :nem 
  {
    :nodes 
    [ "http://go.nem.ninja:7890" 
      "http://san.nem.ninja:7890"
      "http://hachi.nem.ninja:7890"
      "http://mdb:7890"
      "http://node.mxlab.com:7890"]
    :timeout 8000}}
  ;

;.
  
  
